*{
	box-sizing: border-box;
	padding: 0;
	margin:0;
}


/*NAVBAR RELATED*/
nav{
	background-color: #202b2e;
	width:100%;
	padding:15px 0;
	text-align: center;
	color:white;
	font-size: 1.5em;
}

nav ul{
	justify-content: center;
	align-items: center;
}

.navlinks {
	padding: 0 20px;
	float:left;
	list-style: none;
}

nav a{
	text-decoration: none;
	color:inherit;
}

#logoimg{
	content: url(../images/logo.png);
	height:40px;
}

/*HEADER RELATED*/

.header{
	background-image:url(../images/headerimage.jpg);
	padding:200px;
	width:100%;
	text-align:center;
	color:#fff;
}

.header h1{
	color:#fff;
	font-size:100px;
}
/*CONTENT RELATED*/


.col2-1{
	width:48%;
	/*border:solid #202b2e 3px;*/
	padding:1%;
	margin:1%;
}

.imgstyle{
	width:100%;
	border-radius: 5%;
	/*border:solid #202b2e 3px;*/
}

.flexrow{
	display:flex;
	flex-wrap:wrap;
}